{% extends "base.html" %}

{% block title %}Search Movies{% endblock %}

{% block content %}
<style>
    .search-container {
        background-color: #FFCCCB; /* Baby pink color */
        padding: 20px;
        border-radius: 8px;
    }
</style>
<div class="search-container">
    <h1>Search for Movies</h1>
    <form method="get" action="{% url 'search_movies' %}">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Search for movies...">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for movie in movies %}
            <li>
                {% if movie.Poster != "N/A" %}
                    <img src="{{ movie.Poster }}" alt="{{ movie.Title }} Poster" style="max-height: 200px;">
                {% endif %}
                <h3>{{ movie.Title }} ({{ movie.Year }})</h3>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
    <a href="{% url 'my_lists' %}" class="btn btn-secondary">My Playlists</a>
</div>
{% endblock %}
